<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @supplyordersstatus.Status %>
</p>


<%= link_to 'Edit', edit_supplyordersstatus_path(@supplyordersstatus) %> |
<%= link_to 'Back', supplyordersstatuses_path %>
